name: SKY UX CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - master
  push:
    branches:
      - main
      - master
    tags:
      - '*.*.*'

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - uses: actions/setup-node@v3
        with:
          node-version: '16.18.x'
      - uses: blackbaud/skyux-sdk-actions@ng-14
        with:
          github-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          npm-token: ${{ secrets.NPM_TOKEN }}
          project: 'addin-client'
          code-coverage-browser-set: speedy
      - name: Upload coverage report
        run: bash <(curl -s https://codecov.io/bash)
